@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo of Steeltoe</h1>
    <p class="lead">
        Steeltoe is an open source project that enables .NET developers to implement industry standard best practices when building resilient microservices for the cloud. The Steeltoe client libraries enable .NET Core and .NET Framework apps to easily leverage Netflix Eureka, Hystrix, Spring Cloud Config Server, and Cloud Foundry services.
    </p>
    <p><a class="btn btn-default" href="https://steeltoe.io/">Learn more &raquo;</a></p>
</div>

